<div class="container text-center"> 
<h1>Listing Questions</h1>
 <%= link_to 'Submit a New Question', new_question_path %>

<table>
  <tr>
    <th>Title</th>
    <th>Text</th>
  </tr>
 
  <% @questions.each do |question| %>
    <tr>
      <td><%= question.title %></td>
      <td><%= question.text %></td>
      <td><%= link_to 'Show all the Answers', question_path(question) %></td>
    </tr>
  <% end %>
</table>
</div>